body {
  text-align: center;
  font-family: Arial;
  background: #f5f1e6;
}

h1 { color: #5a3e2b; }

button {
  padding: 10px 20px;
  background: #8b5e3c;
  color: white;
  border: none;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  color: #5a3e2b;
}