body {
  text-align: center;
  font-family: Arial;
  background: #f5f1e6;
}

h1 { color: #5a3e2b; }

button {
  background: #8b5e3c;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

li {
  list-style: none;
  margin: 10px;
  color: #5a3e2b;
}