body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #e8dccf;
    padding: 25px;
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(75,54,33,0.2);
}

h2 {
    text-align: center;
    color: #4b3621;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #6b4f3b;
}

button {
    background: #6b4f3b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4b3621;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f5efe6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Partie gauche : checkbox + texte */
.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Texte barré quand terminé */
.completed {
    text-decoration: line-through;
    color: #8c7b6b;
}

/* Bouton supprimer */
.delete {
    color: #6b4f3b;
    cursor: pointer;
    font-weight: bold;
}