body {
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI';
}

.calculator {
    background: #e8dccf;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(75,54,33,0.2);
}

#display {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #6b4f3b;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    height: 50px;
    background: #6b4f3b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4b3621;
}